# Web scrapping for Data Scientist job in CO(Total points 9)

In this exercise we'll do web scrapping for **Data Scientist job in CO**


Here is the link to the search query

https://www.indeed.com/jobs?q=data+scientist&l=CO

As you can see at the bottom of the page there are link to series of pages related to this search.
If you click on second page, search url changes to

https://www.indeed.com/jobs?q=data+scientist&l=CO&start=10

If you click on 3rd then url changes to

https://www.indeed.com/jobs?q=data+scientist&l=CO&start=20

Hence to go to more pages we can format search string(**change start=??** part) for **requests.get in a loop**

# Q1(5 =  4(non indicator columns) + 1(indicator columns) points) Please complete the following task

- Scrape 10 pages (**last page(10 th) url will be https://www.indeed.com/jobs?q=data+scientist&l=CO&start=90**)and build a pandas DataFrame containing following information
    + **job title, name of the company, location, summary of job description**
    + **Indicator columns(with value True/False) about keywords Python, SQL, AWS, RESTFUL, Machine learning, Deep Learning, Text Mining, NLP, SAS, Tableau, Sagemaker, TensorFlow, Spark**

Note:
- Make sure that you do a case insensitive search for keywords when filing(Tue/False) in the indicator columns
- You need to go to the webpage of detail job posting for keywords search. Main job posting only contains summary of the job description.  Build detail job posting webpage url  from web scrapping main search results.

In [80]:
import re
import time
import requests
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

In [81]:
jobs_df = pd.DataFrame(columns = ['title' , 'company_name' , 'location' , 'summary' , 'python' , 'sql' , 'aws' , 'restful' , 'machine_learning' , 'deep_learning' , 'text_mining' , 'nlp' , 'sas' , 'tableau' , 'sagemaker' , 'tensorflow' , 'spark']) 

#jobs_df

Empty DataFrame
Columns: [title, company_name, location, summary, python, sql, aws, restful, machine_learning, deep_learning, text_mining, nlp, sas, tableau, sagemaker, tensorflow, spark]
Index: []

In [82]:
base = 'Can no longer go straight to indeed'
page_num = 10
#newUrl = base + 'start=' + str(page_num)
req = requests.get(base)
#req = Request(base , headers={'User-Agent': 'Mozilla/5.0'})
#page = urlopen(req).read()
indeed = 'https://www.indeed.com'

while page_num < 100:
    
    #print('starting loop')
    soup = BeautifulSoup(req.text, "html.parser")
    print('--------------------------------------------------------------------------------------')
    #print(req.text)
    #soup = BeautifulSoup(page , "html.parser")
    jobs = soup.find_all('a' , attrs={'class': 'tapItem'})
    #print(jobs)
    print(len(jobs))
    for job in jobs:
        #print('made it')
        tagSource = job.get("href")
        title = job.find('span' , class_=lambda x: x != 'label')
        compName = job.find('span' , attrs={'class': 'companyName'})
        location = job.find('div' , attrs={'class': 'companyLocation'})
        summary = job.find('div' , attrs={'class': 'job-snippet'})
        
        
        listingUrl = indeed + tagSource
        listing = requests.get(listingUrl)
        #print(listingUrl)
        listingSoup = BeautifulSoup(listing.text , "html.parser")
        #print(listingSoup.text)
        description = listingSoup.find('div' , attrs={'id': 'jobDescriptionText'})
        python, sql, aws, restful, ml, dl, textMining , nlp , sas , tableau , sagemaker , tensorflow, spark = False , False , False , False , False , False , False , False , False , False , False , False , False
        
        if re.search( 'python', listing.text , re.IGNORECASE):
            python = True
        #print(listing.text)
        #input()
        if re.search( 'sql', listing.text , re.IGNORECASE):
            sql = True
        if re.search( 'aws', listing.text , re.IGNORECASE):
            aws = True
        if re.search( 'restful', listing.text , re.IGNORECASE):
            restful = True
        if re.search( 'Machine learning', listing.text , re.IGNORECASE):
            ml = True
        if re.search( 'Deep learning', listing.text , re.IGNORECASE):
            dl = True
        if re.search( 'Text Mining', listing.text , re.IGNORECASE):
            textMining = True
        if re.search( 'NLP', listing.text , re.IGNORECASE):
            nlp = True
        if re.search( 'SAS', listing.text , re.IGNORECASE):
            sas = True
        if re.search( 'Tableau', listing.text , re.IGNORECASE):
            tableau = True
        if re.search( 'Sagemaker', listing.text , re.IGNORECASE):
            sagemaker = True
        if re.search( 'TensorFlow', listing.text , re.IGNORECASE):
            tensorflow = True
        if re.search( 'Spark', listing.text , re.IGNORECASE):
            spark = True
        
        jobs_df = jobs_df.append({'title': title.text , 'company_name': compName.text , 'location': location.text , 'summary': summary.text , 'python': python,
                                 'sql': sql , 'aws': aws , 'restful': restful , 'machine_learning': ml , 'deep_learning': dl , 'text_mining': textMining , 'nlp': nlp,
                                 'sas': sas , 'tableau': tableau , 'sagemaker': sagemaker , 'tensorflow': tensorflow , 'spark': spark}, ignore_index=True)
        
        #adding wait because I keep getting locked out
        time.sleep(10)
#     del soup
#     del jobs
#     del req

    newUrl = base + '&start=' + str(page_num)

    req = requests.get(newUrl)
    #req = Request(newUrl , headers={'User-Agent': 'Mozilla/5.0'})
    #page = urlopen(req).read()
    
    page_num += 10
    #print('temp end')
    #adding wait because I keep getting locked out
    time.sleep(30)
    
    
jobs_df

--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15
--------------------------------------------------------------------------------------
15

,title,company_name,location,summary,python,sql,aws,restful,machine_learning,deep_learning,text_mining,nlp,sas,tableau,sagemaker,tensorflow,spark
0,Data Scientist,ApTask India Private Limited,"Broomfield, CO 80021â€¢Remote","\nPetro program, machine learning program, pri...",True,True,False,False,True,False,False,False,False,False,False,False,False
1,Data Scientist - ACS-CHS Grants Funded (ARPA),Denver Health,"Denver, CO","\nTypically, two (2) or more years of professi...",True,True,False,False,False,False,False,False,True,True,False,False,False
2,"Data Scientist, Product Catalog Data",Honey,"Boulder, CO 80302",\nThe PCD team therefore includes a mix of dat...,True,False,False,False,True,False,False,False,False,False,False,False,False
3,Data Scientist,Yeoman Asset Management,"Louisville, CO",\nAccess and manage proprietary data sets and ...,True,True,False,False,False,False,False,False,False,False,False,False,False
4,Associate Data Scientist - Media,Spectrum,"Greenwood Village, CO 80111",\nInternship in a role as a data scientist.\nA...,True,True,False,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Senior Data Scientist,Ibotta,"Denver, CO 80202 (Central Business District ar...",\nA love of learning and continuous developmen...,True,False,False,False,True,False,False,False,False,False,False,False,True
131,Senior Architect - Data & Analytics,Credera,"Denver, CO",\nYou can quickly learn and apply business and...,True,True,True,False,False,False,False,False,False,False,False,False,True
132,Senior Data Science Engineer (K-12 Education T...,Savvas Learning Company,"Denver, COâ€¢Remote",\nWe are looking for an experienced data scien...,True,True,True,False,True,True,False,False,False,False,False,False,True
133,SENIOR DATA ANALYST - REVENUE ANALYTICS,Amerita,"Englewood, CO 80112",\nSupport pharmacy staff by ensuring integrity...,True,True,False,False,False,False,False,False,False,True,False,False,False
134,Statistician,University of Colorado,"Colorado Springs, CO 80918 (Northeast Colorado...",\nData analysis skills to create relevant data...,True,False,True,False,False,False,False,False,True,False,False,False,False

# Q2(1 point) Save you DataFrame to pickle file name *indeed_job_co.pkl*. 
   Load this pkl file in dataFrame and use this dataFrame for answering following questions.

   <font color='red'>upload the pickle file(indeed_job_co.pkl) along with solution notebook to the canvas</font>

In [87]:
jobs_df.to_pickle('indeed_job_cp.pkl')

new_df = pd.read_pickle('indeed_job_cp.pkl')

print(len(new_df))
new_df.head()

135

,title,company_name,location,summary,python,sql,aws,restful,machine_learning,deep_learning,text_mining,nlp,sas,tableau,sagemaker,tensorflow,spark
0,Data Scientist,ApTask India Private Limited,"Broomfield, CO 80021â€¢Remote","\nPetro program, machine learning program, pri...",True,True,False,False,True,False,False,False,False,False,False,False,False
1,Data Scientist - ACS-CHS Grants Funded (ARPA),Denver Health,"Denver, CO","\nTypically, two (2) or more years of professi...",True,True,False,False,False,False,False,False,True,True,False,False,False
2,"Data Scientist, Product Catalog Data",Honey,"Boulder, CO 80302",\nThe PCD team therefore includes a mix of dat...,True,False,False,False,True,False,False,False,False,False,False,False,False
3,Data Scientist,Yeoman Asset Management,"Louisville, CO",\nAccess and manage proprietary data sets and ...,True,True,False,False,False,False,False,False,False,False,False,False,False
4,Associate Data Scientist - Media,Spectrum,"Greenwood Village, CO 80111",\nInternship in a role as a data scientist.\nA...,True,True,False,False,True,False,False,False,False,False,False,False,True

<font size = "6" color='red'> Use pandas functionality to answer question 2</font>
# Q 3 a(1 point) Which city has maximum job posting.

In [90]:
maxCity = new_df.location.mode()

print(maxCity)

0    Denver, CO
dtype: object

# Q 3 b(1.5 point) - Top 3 most demanding skills(like Python, AWS, SQL ...)

In [108]:
temp_df = pd.DataFrame(new_df.iloc[:, 4:16].sum())
temp_df.sort_values(0 , ascending=False)

                    0
python            134
machine_learning   82
sql                67
aws                37
deep_learning      24
tableau            22
tensorflow         18
sas                15
nlp                 9
sagemaker           3
text_mining         2
restful             0

Python , Machine Learning, and SQL are the most demanded skills.

# Q3 c(.5 point) What other questions you would like to ask  based on indeed data?

This is free response questions.

I would like to ask what the most demanded skills are for the jobs when the title is 'Principal Data Scientest'